name: goreleaser

on:
  push:
    branches:
    - "!*"
    tags:
    - "v*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v1
    -
      name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.x
    # See https://goreleaser.com/ci/actions/#signing
    -
      name: Import GPG key
      id: import_gpg
      uses: crazy-max/ghaction-import-gpg@v2
      env:
        # See https://github.com/crazy-max/ghaction-import-gpg#prerequisites
        GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        PASSPHRASE: ${{ secrets.PASSPHRASE }}
    -
      name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
